@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
    --back-color: #f4f4f4;
    --dark-color: rgb(27, 27, 27);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--back-color);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    width: 700px;
    height: 470px;
    background: url('https://cdn.wallpapersafari.com/9/3/alWT49.jpg');
    background-size: cover;
    border: 11px solid var(--dark-color);
    border-radius: 20px 20px 0 0;
    position: relative;
}

.cam {
    width: 70px;
    height: 13px;
    border-radius: 0 0 3px 3px;
    background: var(--dark-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.base {
    width: 850px;
    height: 12px;
    background: #AFB0B5;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}

.touchpad {
    width: 100px;
    height: 7px;
    background: #CDCED3;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.183);
}

.bottom {
    width: 850px;
    height: 8px;
    background: #a7a8ad;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.313);
    border-radius: 0 0 50px 50px;
    margin-top: -2px;
    z-index: -1;
}